<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="chassis_control">

    <!-- ros2_control hardware interface -->
    <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>

        <joint name="left_rocker">
            <command_interface name="position">
                <param name="min">-0.70</param>
                <param name="max">0.70</param>
            </command_interface>

            <state_interface name="position">
                <param name="initial_value">1.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="left_upper_arm">
            <command_interface name="position">
                <param name="min">-0.70</param>
                <param name="max">0.70</param>
            </command_interface>

            <state_interface name="position">
                <param name="initial_value">1.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="right_rocker">
            <command_interface name="position">
                <param name="min">-0.70</param>
                <param name="max">0.70</param>
            </command_interface>

            <state_interface name="position">
                <param name="initial_value">1.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>

        <joint name="right_upper_arm">
            <command_interface name="position">
                <param name="min">-3.14</param>
                <param name="max">3.14</param>
            </command_interface>

            <state_interface name="position">
                <param name="initial_value">1.0</param>
            </state_interface>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
    </ros2_control>

    <gazebo>
        <!-- JOINT CONTROLLER -->
        <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(arg controller_config)</parameters>
            <update_rate>60</update_rate>
        </plugin>
    </gazebo>
</robot>
