<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="chassis_control">

    <!-- ros2_control hardware interface -->
    <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
            <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
    </ros2_control>

    <gazebo>
        <!-- JOINT CONTROLLER -->
        <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(arg controller_config)</parameters>
            <update_rate>60</update_rate>
        </plugin>
    </gazebo>
</robot>
